[submodule "submodules/fused-ssim"]
	path = submodules/fused-ssim
	url = https://github.com/rahul-goel/fused-ssim
[submodule "submodules/diff-gaussian-surfel-rasterization-w-pose"]
	path = submodules/diff-gaussian-surfel-rasterization-w-pose
	url = https://gitlab.ipb.uni-bonn.de/yue.pan/diff-gaussian-surfel-rasterization-w-pose
[submodule "submodules/diff-gaussian-rasterization-w-pose"]
	path = submodules/diff-gaussian-rasterization-w-pose
	url = https://github.com/rmurai0610/diff-gaussian-rasterization-w-pose
[submodule "submodules/patchwork-plusplus"]
	path = submodules/patchwork-plusplus
	url = https://github.com/url-kaist/patchwork-plusplus.git
