datetime==5.5
evo==1.28.0
gnupg==2.3.1 
gtsam==4.2
laspy==2.5.3
natsort==8.1.0
open3d==0.17.0
plyfile==1.0.3
pycryptodomex==3.20.0
pypose==0.6.8
pyquaternion==0.9.9
rerun-sdk
rich==12.5.1
roma==1.5.0
rospkg==1.5.1
scikit-image==0.21.0
wandb==0.17.0
# for gs
opencv-python
torchmetrics==1.4.1
-e submodules/diff-surfel-rasterization # editable install # 2D GS
-e submodules/diff-gaussian-surfel-rasterization # editable install # Gaussian Surfels
-e submodules/diff-gaussian-rasterization # editable install # original 3D GS
# for gs visualizer
PyOpenGL
glfw
PyGLM==2.7.0
# for metric3d
mmcv
timm